In [ ]:
Revision

In [ ]:
Data science

In [ ]:
Create a random data set for this .
1️⃣ Sales Dataset
(Products, prices, quantity, sales date, ratings)
2️⃣ Student Performance Dataset
(Marks, attendance, grades, subjects, gender)
3️⃣ Weather Dataset
(Temperature, humidity, rainfall, wind speed, date)
4️⃣ E-commerce Dataset
(Product name, price, category, reviews, seller info)
5️⃣ Hospital/Health Dataset
(Patient age, blood pressure, diagnosis, medication)
6️⃣ Movie / OTT Dataset
(Movie name, genre, rating, duration, release year)
7️⃣ Banking / Finance Dataset
(Customer age, account balance, loan status, credit score)
8️⃣ Employee Dataset
(Name, salary, department, experience, join date)
9️⃣ Transport Dataset
(Vehicle type, distance, fuel cost, trip duration)

In [ ]:
How to create random data sets.
Sales data -
import pandas as pd
import numpy as np
np.random.seed(42) 
// n==500
data = {
"Product": np.random.choice(["Laptop", "Mobile", "Tablet", "Headphone", "Camera"], 500), 
                    #categorical
    "Price": np.random.randint(5000, 80000, 500),  # numerical integers
    "Quantity": np.random.randint(1, 20, 500),    # numerical integers
    "Category": np.random.choice(["Electronics", "Accessories"], 500),  # categorical
    "Rating": np.random.uniform(1.0, 5.0, 500).round(1),  # numerical float
}
df = pd.DataFrame(data)
print(df.head())

In [ ]:
Q1. 
•	Select any random dataset.
•	Load it using Pandas.
•	Display the first 10 rows, shape, column names, and data types.

In [ ]:
Q2. Create a bar chart for any categorical column showing counts.

In [ ]:
Q3. Create a pie chart for the same or a different categorical column.

In [ ]:
Q4. Create a histogram for any numerical column.

In [ ]:
Q5. Create a scatter plot between any two numerical variables.

In [ ]:
Q6. Create a box plot for a numerical variable.

In [ ]:
Q7. Create a scatter plot between two numerical variables.

In [ ]:
Q8. Create multiple histograms for two numerical variables on separate plots.

In [ ]:
Q9. Create a box plot grouped by category.

In [ ]:
Q10. Identify the least frequent categories and visualize them in a bar chart.